*{
	margin: 0;
	padding: 0;
}
section,header,article,nav{
	display: block;
}
body{
	margin: 0 10% 0 10%;
	background-image: url(../images/background.gif);
	background-attachment: fixed;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	/*max-width: 100em;*/
}
header{
	background-image: url(../images/guitarist.gif);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	border: .1em solid;
	border-bottom-width: 0;
	border-top-width: 0;
}
header nav ul{
	padding-left: 10%;
	width: 100%;
	overflow: hidden;
	border-left:.1em solid;
}
header nav li{
	display: inline;
}
header nav li a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right:.1em solid;
	border-left:.1em solid;
}
header nav li a~a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right:.1em solid;
}
article{
	border:.1em solid;
	border-top-width: 0;
	padding: 2em 10%;
	line-height: 1.8em;
}
 header img{
	height: 300px;
	width: 400px;
}
img{
	border:.1em solid;
	outline-style: solid;
}

#slideshow{
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
}
#preview{
	position: absolute;
	border-width: 0;
	outline-width: 0;
}

#aimagegallery li{
	display: inline;
}

th{
	color: #edc;
	background-color: #455;
}
tr td{
	color: #223;
	background-color: #eb6;
}


dl{
	overflow: hidden;
}
dt{
	float: left;
}
dd{
	float: left;
}

label{
	display: block;
}
fieldset{
	border:0;
}


































































